@page
@{
    ViewData["Title"] = "NoData";
}

<h1>Oops!</h1>
<p>There is no data to show! <a href=".\Players\List">Add some players</a> and <a href=".\Games\List">play at more than 3 games</a> so the leaderboard can populate! <br />
<text class="font-italic">Note: In order for a player to show up in the leaderboards they must have played more than 3 games.</text> </p>
